<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock title %} Sign Language</title>
    <style>
      .navbar {
        height: 100px; /* Adjust the height as needed */
      }
      .nav-item{
        font-size: large;
        padding: 0 15px;
      }
     body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  font-size: 20px;
}

.about-section img.logo {
  border-radius: 150px;
  width: 20%;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

.title {
  color: grey;
}
.button {
  border: none;
  outline: 0;
  display: inline;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.button:hover {
  background-color: #555;
}

.button:hover, .button:focus {
  color: white;
  text-decoration: none;
  outline: none;
}


@media screen and (max-width: 650px) {
  .column {
      width: 100%;
      display: block;
  }
}

.my-5 {
  width: 100%;
 
}
.carousel-inner img {
    height: auto; /* Allow the height to adjust based on the image aspect ratio */
  }
  .carousel-inner {
    max-height: 600px; /* Set a maximum height for the carousel on mobile */
  }

.container-fluid.my-4.px-0 img {
  width: 100%;

}

.container.my-4 img {
  width: 100%;

}

.bg-light img {
  width: 100%;
  height: auto;
}

.card-body p {
  font-size: 16px;
}

.btn-group a.btn {
  font-size: 16px;
  margin: 0.5rem 0;
}

    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="about.html"><h2>SARTHAK</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html" >HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sign_gesture.html">SIGN DICTIONARY<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Add_New_Gesture.html">ADD NEW GESTURES<span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html" >ABOUT US<span class="sr-only">(current)</span></a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      
    
            
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="main">
<div class="container-fluid my-4 px-0">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="sign-language-with-hands-studio (1).jpg" alt="image1" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Children of Anand Niwas School</h5>
          <p>Learning through Sign</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="sign-language-with-hands-studio (2).jpg" alt="image2">

        <div class="carousel-caption d-none d-md-block">
          <h5>Performing Sign Actions</h5>
          <p>Using Indian Sign Language</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="sign-language-with-hands-studio.jpg" alt="image3">

        <div class="carousel-caption d-none d-md-block">
          <h5>Anand Niwas School Dhule</h5>
          <p>School for deaf and mute people eduacating and communicating using sign language.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="sign-language-with-hands-studio (3).jpg" alt="image3">

        <div class="carousel-caption d-none d-md-block">
          <h5>Anand Niwas School Dhule</h5>
          <p>School for deaf and mute people eduacating and communicating using sign language.</p>
          
        </div>
      </div>
      <!-- Add more carousel items as needed -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container">
  <h1 class="my-4 text-center" style="color: darkslategray;">What we do at Sarthak</h1>
  <p style="color:grey"> <i>We at <b style="color:black">SARTHAK</b> are here to bridge the gap between the two communities. By Providing them the way of communication with each other as well as with normal people. Sarthak can offer a two-way communication i.e. Sign to Speech Conversion and Speech to 3D Animated Sign Gestures</i></p>
  <div class="row">
    <div class="col-md-6">
      <div class="bg-light p-3">
        <img src="sign 2 speech.jpg" alt="image3" class="img-fluid zoom">
        <p class="text-center my-4" style="color:green"><b>SIGN TO SPEECH CONVERSION MODULE</b></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bg-light p-3">
        <img src="speech to sign.jpg" alt="image3" class="img-fluid zoom">
        <p class="text-center my-4" style="color:green"><b>SPEECH TO 3D SIGN ANIMATED GESTURES</b></p>
      </div>
    </div>
  </div>
  <div class="text-center my-4">
    <a class="button" href="our_model.html">Let's Start</a>
  </div>
</div>

<div class="container">
  <h1 class="my-3 text-center" style="color: darkslategray;">Awareness for Deaf and Mute Community</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="zoom" src="deaf2.jpeg" alt="image3" width="100%" height="225">

        <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
        <div class="card-body">
          <p class="card-text">The second largest country in the world, <b><i>India</i></b>, is home to approximately 63
            million people of the deaf and hard of hearing community (DHH).</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group text-center">


              <a class="btn btn-dark" href="https://www.hearinglikeme.com/notes-from-indias-deaf-community/">View <span
                  class="sr-only">(current)</span></a>

            </div>
            <!-- <small class="text-muted">9 mins</small> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="zoom" src="educate1.jpg" alt="image3" width="100%" height="225">

        <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
        <div class="card-body">
          <p class="card-text"><b><i>AIDDS</i></b> has been striving hard to achieve the goal of total rehabilitation
            for the hearing impaired children who on a large extent are ignored .</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group text-center">
              <a class="btn btn-dark" href="https://www.deafanddumbsociety.org/">View <span
                  class="sr-only">(current)</span></a>

            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="zoom" src="adult-women-communicating-through-sign-language.jpg" alt="image3" width="100%" height="225">

        <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
        <div class="card-body">
          <p class="card-text">Indiansignlanguage.org offers a huge collection of <b><i>Indian Sign
                Language</i></b>(ISL) signs. Each sign has an image, running video and threaded discussions.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a class="btn btn-dark" href="http://www.islrtc.nic.in/">View <span class="sr-only">(current)</span></a>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
    <div>
    <footer class="text-center text-lg-start text-white" style="background-color: #474e5d">
  
      <section class="d-flex justify-content-between p-4" style="background-color: #343a40">
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
   
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
    
      </section>
  
      <section class="">
        <div class="container text-center text-md-start mt-5">
      
          <div class="row mt-3">
            
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
   
              <h6 class="text-uppercase fw-bold">Sarthak</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #28a745; height: 2px" />
              <p>
                A Dual Model Sign Language Interpreter
              </p>
  
            </div>
  
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
              <h6 class="text-uppercase fw-bold">Services</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #28a745; height: 2px" />
              <p>
                <a href="{% url 'speech_to_sign' %}" class="text-white">Speech To Sign</a>
              </p>
              <p>
                <a href="{% url 'sign_to_speech' %}" class="text-white">Sign To Speech</a>
              </p>
              <p>
                <a href="{% url 'sign_gesture' %}" class="text-white">Dictionary</a>
              </p>
              <p>
                <a href="#about" class="text-white">About us</a>
              </p>
            </div>
       
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
         
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #28a745; height: 2px" />
              <p>
                <a href="https://ieeexplore.ieee.org/document/10134768" class="text-white">Research Paper</a>
              </p>
              <p>
                <a href="{% url 'Add_New_Gesture' %}" class="text-white">Help us Add Signs</a>
              </p>
              <p>
                <a href="mailto:projectsarthak@gmail.com" class="text-white">Feedback</a>
              </p>
              <p>
                <a href="mailto:projectsarthak@gmail.com" class="text-white">Help</a>
              </p>
            </div>
  
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #28a745; height: 2px" />
              <p><i class="fas fa-home mr-3"></i> Dhule, Maharashtra, India</p>
              <p><i class="fas fa-envelope mr-3"></i> <a class="text-white"
                  href="mailto:projectsarthak@gmail.com">projectsarthak@gmail.com </a> </p>
              <p><i class="fas fa-phone mr-3"></i> +91 7875114776</p>
              <p><i class="fas fa-print mr-3"></i> +91 9172102003</p>
              <p><i class="fas fa-print mr-3"></i> +91 7066516974</p>
            </div>
  
          </div>
  
        </div>
      </section>
  
  
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="https://ieeexplore.ieee.org/document/10134768">Sarthak.com</a>
      </div>
  
    </footer>
  
  </div>
 </body>
</html>
